@model InterviewReportDto
@{
    Layout = "_LayoutInterview.cshtml";
    ViewData["Title"] = "Interview Result";
}

@section Styles {
    <link rel="stylesheet" href="~/css/interview-resullt.css" asp-append-version="true" />

}

<div class="star_container down">
    <svg width="37"
    height="43"
    viewBox="0 0 37 43"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
        <path d="M22.2995 1.88532C22.1785 0.87461 20.84 0.592663 20.4185 1.48911L14.4008 14.2878C14.2681 14.5699 14.0092 14.765 13.7025 14.8141L0.817866 16.8761C-0.0775428 17.0194 -0.267617 18.2257 0.526562 18.7249L11.9545 25.9079C12.2266 26.0789 12.4093 26.3671 12.4474 26.6851L14.1749 41.1151C14.2959 42.1259 15.6344 42.4078 16.0559 41.5114L22.0736 28.7127C22.2063 28.4306 22.4652 28.2354 22.7719 28.1864L35.6565 26.1244C36.5519 25.9811 36.742 24.7747 35.9478 24.2756L24.5199 17.0926C24.2478 16.9216 24.0651 16.6334 24.027 16.3154L22.2995 1.88532Z"
        fill="#364C84" />
    </svg>
</div>
<div class="star_container middle-top">
    <svg width="37"
    height="43"
    viewBox="0 0 37 43"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
        <path d="M22.2995 1.88532C22.1785 0.87461 20.84 0.592663 20.4185 1.48911L14.4008 14.2878C14.2681 14.5699 14.0092 14.765 13.7025 14.8141L0.817866 16.8761C-0.0775428 17.0194 -0.267617 18.2257 0.526562 18.7249L11.9545 25.9079C12.2266 26.0789 12.4093 26.3671 12.4474 26.6851L14.1749 41.1151C14.2959 42.1259 15.6344 42.4078 16.0559 41.5114L22.0736 28.7127C22.2063 28.4306 22.4652 28.2354 22.7719 28.1864L35.6565 26.1244C36.5519 25.9811 36.742 24.7747 35.9478 24.2756L24.5199 17.0926C24.2478 16.9216 24.0651 16.6334 24.027 16.3154L22.2995 1.88532Z"
        fill="#364C84" />
    </svg>
</div>
<div class="star_container middle-right">
    <svg width="37"
    height="43"
    viewBox="0 0 37 43"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
        <path d="M22.2995 1.88532C22.1785 0.87461 20.84 0.592663 20.4185 1.48911L14.4008 14.2878C14.2681 14.5699 14.0092 14.765 13.7025 14.8141L0.817866 16.8761C-0.0775428 17.0194 -0.267617 18.2257 0.526562 18.7249L11.9545 25.9079C12.2266 26.0789 12.4093 26.3671 12.4474 26.6851L14.1749 41.1151C14.2959 42.1259 15.6344 42.4078 16.0559 41.5114L22.0736 28.7127C22.2063 28.4306 22.4652 28.2354 22.7719 28.1864L35.6565 26.1244C36.5519 25.9811 36.742 24.7747 35.9478 24.2756L24.5199 17.0926C24.2478 16.9216 24.0651 16.6334 24.027 16.3154L22.2995 1.88532Z"
        fill="#364C84" />
    </svg>
</div>

<section id="result-page" class="container">
    <div class="rate-sec row">
        <div class="result col">
            <div class="circle-container">
                <div class="circle @(Model.IsPassed ? "passed" : "failed") ">
                    <span>النتيجة</span>
                <span class="percentage @(Model.IsPassed ? "passed" : "failed")">@(Model.GPA)%</span>
                </div>
            </div>
            <div class="result-info">
                <h1 class=" @(Model.IsPassed ? "passed" : "failed")">مرفوض</h1>
                <div class="answers-stats">
                    <div class="correct-answers">
                        <span class="label">
                            الإجابات الصحيحة
                        <svg width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.48047 18.35L10.5805 20.75C10.9805 21.15 11.8805 21.35 12.4805 21.35H16.2805C17.4805 21.35 18.7805 20.45 19.0805 19.25L21.4805 11.95C21.9805 10.55 21.0805 9.34997 19.5805 9.34997H15.5805C14.9805 9.34997 14.4805 8.84997 14.5805 8.14997L15.0805 4.94997C15.2805 4.04997 14.6805 3.04997 13.7805 2.74997C12.9805 2.44997 11.9805 2.84997 11.5805 3.44997L7.48047 9.54997"
                                    stroke="#E7F1A8"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10" />
                            <path d="M2.37988 18.35V8.55002C2.37988 7.15002 2.97988 6.65002 4.37988 6.65002H5.37988C6.77988 6.65002 7.37988 7.15002 7.37988 8.55002V18.35C7.37988 19.75 6.77988 20.25 5.37988 20.25H4.37988C2.97988 20.25 2.37988 19.75 2.37988 18.35Z"
                                    stroke="#E7F1A8"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>   
                        </span>    
                        <span>10 / <span class="answers-count">@Model.CorrectAnswers</span></span>
                    </div>
                    <div class="wrong-answers">
                        <span class="label">
                            الإجابات الخاطئة
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.5197 5.65002L13.4197 3.25002C13.0197 2.85002 12.1197 2.65002 11.5197 2.65002H7.71973C6.51973 2.65002 5.21973 3.55002 4.91973 4.75002L2.51973 12.05C2.01973 13.45 2.91973 14.65 4.41973 14.65H8.41973C9.01973 14.65 9.51973 15.15 9.41973 15.85L8.91973 19.05C8.71973 19.95 9.31973 20.95 10.2197 21.25C11.0197 21.55 12.0197 21.15 12.4197 20.55L16.5197 14.45"
                                      stroke="#F5999A"
                                      stroke-width="1.5"
                                      stroke-miterlimit="10" />
                                <path d="M21.6201 5.65V15.45C21.6201 16.85 21.0201 17.35 19.6201 17.35H18.6201C17.2201 17.35 16.6201 16.85 16.6201 15.45V5.65C16.6201 4.25 17.2201 3.75 18.6201 3.75H19.6201C21.0201 3.75 21.6201 4.25 21.6201 5.65Z"
                                      stroke="#F5999A"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </span>
                        <span>10 / <span class="answers-count">@Model.FailAnswers</span></span>
                    </div>
                </div>
            </div>
          
        </div>

        <div class="actions col-2">
            <a href="#" class="btn btn-sm btn-g1">إعادة</a>
            <a asp-area="Customer" asp-controller="Interview" asp-action="InterviewGenerator" class="btn btn-sm btn-gray">مولد المقابلة</a>
            <a asp-area ="Customer" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-gray">الرئيسية</a>
        </div>

    </div>
    <h1 class="recommendation-title">التوصيات المقترحة</h1>

    <div class="recomendation-sec">
        @foreach (RecommendationDto recommendation in Model.Recommendations)
        {
              <div class="recomendation">
            <div class="content col">
                    @(recommendation.Recommendation + "....")<a href="@recommendation.Source" class="show-more ">لتفاصيل أكثر</a>
            </div>
        </div>
        }
    </div>
</section>